.profile-wrapper{
    position: relative;
    width:100%;
    max-width: 45rem;
    margin:  auto;
}

.cover-image-wrapper{
    position: relative;
    width: 100%;
    height: 15rem;
    background-color: green;
}
.cover-image-wrapper img.cover-image{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profile-section{
    position: relative;
    padding-inline: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center  ;
}
.profile-image-wrapper{
    --width:clamp(7rem, 15vw, 10rem);
    margin-top: calc(-1 * var(--width)/2);
    position: relative;
    width: var(--width);
    aspect-ratio: 1/1;
    border-radius: 50%;
}
.profile-image-wrapper img.profile-image{  
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #ff00b3;
}
.info-wrapper{
    position: relative;
    padding-inline: 2rem;
}
.info-wrapper h1{
    font-size: clamp(1.5rem, 5vw, 2rem);
    margin-block: 0.5rem;
}
.info-wrapper p{
    margin-block: 0.2rem;
}
.basic-info{
    display: flex;
    gap: 0.5rem;
    color: gray;
}
.follow{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    height: 2.5rem;
    border: none;
    border-radius: 20px;
    padding: 1rem;
}
.X{
    background-color: #ff00b3;
    color: white;
    align-self: center;
    right: 0;
    height: clamp(2rem, 5vw, 3rem);
}