@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
  /* user-select: none ; */
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="file"] {
  font: inherit;
}
a,
button,
input,
textarea,
select {
  outline: none;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
html,
body {
  max-width: 100svw;
  scroll-behavior: smooth;
  background-attachment: fixed;
  background:url("./assets/bg--.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-image: linear-gradient(to top,  #03132c 0%,#12100e 90%); */
  color:#fff;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
  /* white-space: pre; */
  
}
p{
  white-space: pre;
  word-wrap: break-word;
  text-wrap: wrap;
}
