/* Reset basic styles */

/* Box sizing border-box: All elements include padding and border in their total width. */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove margin and padding on all elements */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Remove list styles on list elements (e.g., ul, ol) */
ul, ol {
  list-style: none;
}

/* Remove default styles on anchor links */
a {
  text-decoration: none;
  color: inherit;
}

/* Remove text styles for block-level buttons */
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="file"] {
  font: inherit;
}

/* Remove focus styles for clickable elements */
a,
button,
input,
textarea,
select {
  outline: none;
}

/* Make images responsive */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Set a default background color and font-family for the entire page */
html,
body {
  background-color:rgba(50,50,62,1);
  color:#fff;
  font-family: Arial, sans-serif;
}
