.nav-wrapper{
    position: fixed;
    top: 0;
    width:100svw;
    display: flex;
    background-color: rgba(0, 0, 0, 0.418) ;
    /* background-color: red; */
    height: 5rem;
    justify-content: space-between;
    padding-inline: 1rem;
    z-index: 999;
}
.logo-wrapper{
    display: flex;
    position: relative;
    align-items: center;
    cursor: pointer;
}
.logo{
    width:5rem;
    height: 5rem;
}
.logo-text{
    font-size:1.2rem;
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
}
